<header>
  <h2 class="text-center">Shorten Your URL!</h2>
</header>
<div class="text-center">

  <div class="form-group">
    <%if (!username){ %>
    <form action="/login" method="post">
      <label for "username">Username: </label>
      <input type="text" class="form-control mx-auto" style = "width: 200px; margin-bottom: 10px;" name="username" placeholder="My user name is...">
      <input type="submit" class="btn btn-primary" value="Identify ME!">
    </form>
    <% } else{%>
    <p>Greetings, <%= username %></p>
    <form action="/logout" method="post">
      <input type="submit" class="btn btn-primary" value="Log Out">
    </form>
    <%} %>

  </div>

</div>