<header>
  <h2 class="text-center">Shorten Your URL!</h2>
</header>
<div class="text-center">

  <div class="form-group">
    <%if (user){ %>
    <p>Greetings, <%= user.email %></p>
    <form action="/logout" method="post">
      <input type="submit" class="btn btn-primary" value="Log Out">
    </form>
    <% } else{%>
    <p>Welcome! Please log in or register.</p>
    <a href="/login"><button class="btn btn-secondary">Log in</button></a>
    <a href="/register"><button class="btn btn-primary">Register!</button></a>
    <%} %>
  </div>

</div>