<!DOCTYPE html>
<html lang="en">
<% include partials/_head %>
  <body style="font-size:20px; padding:50px;">
    <% include partials/_header %>
    <div class="jumbotron form-group text-center">
      <form action="/urls" method="POST" style="margin:150px;">
        <h4>Add a new URL to be shortened</h4>
        <label for="longURL">Enter a URL:</label>
        <input id="longURL" type="text" class="form-control mx-auto" style = "width: 500px; margin-bottom: 10px;" name="longURL" value = "http://">
        <input type="submit" class="btn btn-primary" value="Submit">
      </form>

    </div>
  </body>
</html>