<!DOCTYPE html>
<html lang="en">
<% include partials/_head %>
<body style="font-size:20px; padding:50px;">
  <% include partials/_header %>
  <div class="jumbotron">
    <h3>Oops...</h3>
    <p>You need to log in first to access this page. Please log in or register using the buttons above</p>
  </div>
</body>
</html>