<!DOCTYPE html>
<html>
<% include partials/_head %>
<body style="font-size:20px; padding:50px;">
  <% include partials/_header %>
  <div class="jumbotron">
  <% if (!user) {%>
    <h1>Welcome!</h1>
    <p>We can shorten any URLs into a short form so you can share them more easily!</p>
    <p>Please log in if you want to use this application. If you do not have an account with us, you can click the register button above to make a new one.</p>

  <%} else { %>
    <h1>Welcome back, <%= user.email %></h1>
    <div>
      <a href="/urls/new"><button class="btn btn-primary">Add New</button></a>
      <a href="/urls"><button class="btn btn-secondary">My URLs</button></a>


    </div>

  <%} %>
  </div>

</body>
</html>