<!DOCTYPE html>
<html>
<% include partials/_head %>
<body style="font-size:20px; padding:50px;">
  <%include ./partials/_header.ejs %>
  <h3>Log In</h3>
  <div class="jumbotron form-group text-center">
    <p><%= shortURL + " ====> " + longURL %></p>

    <form method = "POST" action="/urls/<%= shortURL %>">
      <label for="newURL"> <b>New URL: </b></label>
      <input type="text" class="form-control mx-auto" style = "width: 400px; margin-bottom: 10px" name="newURL" placeholder = "http://">
      <input type="submit" class="btn btn-primary" name="updateURL" value="Update">

    </form>

  </div>



</body>
</html>