<!DOCTYPE html>
<html lang="en">
<% include partials/_head %>
<body style="font-size:20px; padding:50px;">
  <% include partials/_header %>

  <div class="jumbotron form-group text-center">
      <% for (keys in urls){ %>
      <form method="POST" action="/urls/<%= keys %>/delete">
        <ul class="list-group">
          <li class="list-group-item align-items-center"><%= keys + " =====> " + urls[keys] %>
            <a href="/urls/<%= keys %>"><button type="button" class="btn btn-primary">Edit</button></a>
            <button type="submit" name="delete" class="btn btn-danger">DELETE</button>
          </li>
        </ul>
      </form>
      <% } %>

  </div>

</body>
</html>